services:
  proxy:
    container_name: proxy
    image: valian/docker-nginx-auto-ssl
    restart: on-failure
    ports:
      - 80:80
      - 443:443
    volumes:
      - ssl_data:/etc/resty-auto-ssl
    environment:
      FORCE_HTTPS: true
      SITES: {{ sites }}

volumes:
  ssl_data:
