services:
  node-{{ docker_port }}:
    container_name: {{ mode }}-{{ docker_port }}
    image: ghcr.io/topology-foundation/ts-drp:latest
    restart: always
    network_mode: host
    command: -m {{ mode }}
    volumes:
      - /opt/topology/hosts/{{ inventory_hostname }}/.env:/ts-drp/.env
