global:
  scrape_interval: {{ prometheus_scrape_interval | default('15s') }}

scrape_configs:
  - job_name: 'pushgateway'
    honor_labels: true
    static_configs:
      - targets: ['{{ pushgateway_host | default(inventory_hostname) }}:{{ pushgateway_port | default("9091") }}'] 
